#Nohup out files
nohup*

#VScode files
*.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests folder
test/

# large data files
_raw/
*1000.hdf5
data/fbm/*

# slurm out file
*slurm*.out

# run script files
*run*.sh
*run*.sbatch
*run*.srun
