#Nohup out files
nohup*

#VScode files
*.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests folder
test/

# large data files
*1000.hdf5

# slurm run files
run*

# slurm out file
*slurm*.out
